@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(243, 129, 32, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(243, 129, 32, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(243, 129, 32, 0);
  }
}

.home-pros {
  display: flex;
  background: $bg-primary;
  width: r(255);
  padding: r(63) r(34) r(41.5);
  border-radius: r(20);
  box-shadow: 0 0 r(75) 0 rgba(0, 0, 0, 0.03);

  @include l {
    position: fixed;
    width: 255px;
    max-width: 100vw;
    max-height: calc(100vh - 78px);
    padding: 29px 14px 7px 23px;
    border-radius: 20px 20px 0 0;
    box-shadow: none;
    bottom: 0;
    z-index: 0;

    .home-pros__list-item:first-child {
      box-shadow: none;
      padding-bottom: 0;

      &::after {
        content: 'Нажмите на плюсик, чтобы увидеть все преимущества работы с нами';
        display: block;
        font-size: 6px;
        color: $c-secondary;
        padding-top: 7px;
      }
    }

    .home-pros__list-item:not(:first-child) {
      display: none;
    }
  }

  &_opened {
    @include l {
      padding-bottom: 24px;
      bottom: 0;

      .home-pros__list-item:first-child {
        padding-bottom: 14px;
        box-shadow: 0 8px 5px -10px $c-tertiary;

        &::after {
          content: none;
        }
      }
      .home-pros__list-item:not(:first-child) {
        display: block;
      }
      .home-pros__list {
        overflow: auto;
      }
    }
  }

  &__ {
    &list {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: r(24);

      @include l {
        text-align: left;
        gap: 14px;
      }
    }

    &list-item {
      background: $bg-primary;

      @include l {
        padding-right: 45px;
      }

      &:not(:last-child) {
        padding-bottom: r(24);
        box-shadow: 0 r(10) r(10) r(-15) $c-tertiary;

        @include l {
          padding-bottom: 14px;
          box-shadow: 0 8px 5px -10px $c-tertiary;
        }
      }
    }

    &controls {
      display: none;

      @include l {
        display: block;
      }
    }

    &button {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $bg-accents-1;
      @include circle(33px);
      transition-property: background-color;

      &:hover {
        background: $bg-accents-1-h;
      }

      &_rotated {
        box-shadow: 0 0 0 0 rgba(243, 129, 32, 1);
        animation: pulse 2s infinite;
        .i-cross {
          transform: rotate(45deg);
        }
      }

      .i-cross {
        fill: $c-contrast;
      }
    }
  }
}

.home-page {
  display: flex;
  align-items: flex-start;
  gap: 0 r(71);
  padding: r(52) r(175);

  @include l {
    flex-direction: column;
    align-items: center;
    padding: 84px 22px 110px;
  }

  &__ {
    &content {
      display: flex;
      flex-direction: column;
      padding-top: r(32);

      @include l {
        text-align: center;
      }
    }

    &title {
      font-size: r(55);
      max-width: r(645);
      line-height: r(85);
      font-weight: $light;
      text-align: center;

      @include l {
        font-size: 18px;
        max-width: none;
        line-height: 30px;
      }
    }

    &subtitle {
      display: flex;
      align-items: center;
      gap: r(16);
      font-size: r(32);
      margin: r(19) 0 r(45);
      @include l {
        justify-content: center;
        gap: 6px;
        font-size: 13px;
        margin: 5px 0 17px;
      }
    }

    &dots {
      display: flex;
      align-items: center;
      gap: r(7.05);
      z-index: -2;

      @include l {
        gap: 4.5px;
      }
    }

    &dot {
      border: r(1.5) solid $c-accents-2;
      @include circle(r(9.21));
      @include l {
        @include circle(5.88px);
      }
      &:nth-child(2) {
        opacity: 0.75;
      }
      &:nth-child(3) {
        opacity: 0.5;
      }
      &:nth-child(4) {
        opacity: 0.25;
      }
    }

    &actions {
      display: flex;
      flex-direction: column;
      gap: r(38);

      @include l {
        gap: 12px;
      }
    }

    &buttons {
      display: flex;
      gap: 12px r(18);

      @include l {
        flex-direction: column;
        order: 2;
      }
    }

    &button {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $bg-accents-1;
      gap: r(32);
      color: $c-contrast;
      width: r(335);
      height: r(100);
      border-radius: r(100);
      font-weight: $semi-bold;
      text-align: center;
      text-transform: uppercase;
      transition-property: gap, background-color;

      @include l {
        gap: 20px;
        width: 100%;
        height: 60px;
        border-radius: 60px;
      }

      &:hover {
        background: $bg-accents-1-h;
        gap: r(26);

        @include l {
          gap: 12px;
        }
      }

      &_green {
        background: $bg-accents-2;
        width: r(375);

        @include l {
          width: 100%;
        }
        &:hover {
          background: $bg-accents-2-h;
        }
      }
    }

    &tip {
      display: flex;
      gap: 8px r(16);

      @include l {
        flex-direction: column;
      }
    }

    &tip-text {
      text-align: center;
      width: r(234);
      line-height: r(22);

      @include l {
        font-size: 8px;
        width: auto;
        margin: 0 auto;
        max-width: 190px;
        line-height: 12px;
      }
    }
  }

  .i- {
    &arrow {
      height: r(19.97);

      @include l {
        height: 14.96px;
      }
    }
    &click {
      height: r(17.52);

      @include l {
        height: 10px;
      }
    }
    &cross {
      height: 12px;
      transition-property: transform;
    }
  }
}
