.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.call-form {
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: r(650);
  width: r(550);
  background: url('../../assets/images/bg-form.jpg') no-repeat;
  background-size: cover;
  border-radius: r(35);
  padding: r(70) r(20) r(20);
  @include l {
    width: 550px;
    height: 690px;
    max-height: 100vh;
    max-width: 100vw;
    border-radius: 35px;
    padding: 70px 20px 20px;
  }

  &__ {
    &form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: r(12);
      max-width: r(368);
      @include l {
        gap: 12px;
        max-width: 368px;
      }
    }

    &header {
      font-size: r(30);
      font-weight: $medium;
      text-align: center;
      max-width: r(260);
      @include l {
        font-size: 30px;
        max-width: 260px;
      }
    }

    &subheader {
      font-size: r(16);
      padding: r(2) 0 r(12);
      line-height: r(24);
      text-align: center;
      @include l {
        font-size: 16px;
        padding: 2px 0 12px;
        line-height: 24px;
      }
    }

    &time {
      font-size: r(12);
      padding: 0 0 r(16);
      @include l {
        font-size: 12px;
        padding: 0 0 16px;
      }
    }

    &close {
      position: absolute;
      top: r(45);
      right: r(47);
      @include l {
        top: 45px;
        right: 47px;
      }
    }

    &field-label {
      font-size: r(12);
      align-self: flex-start;
      padding: 0 r(46);
      @include l {
        font-size: 12px;
        padding: 0 46px;
      }
    }

    &field {
      display: flex;
      align-items: center;
      font-size: r(18);
      height: r(85);
      width: 100%;
      padding: 0 r(46);
      margin: 0;
      border: 0;
      border-radius: r(85);
      outline: none;
      box-shadow: 0 0 r(50) rgba(0, 0, 0, 0.05);
      @include l {
        font-size: 18px;
        height: 85px;
        padding: 0 46px;
        border: 85px;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);
      }

      &:not(:placeholder-shown):invalid {
        outline: 1px solid red;
      }
    }

    &submit-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      color: $c-contrast;
      background: $bg-accents-1;
      font-size: r(16);
      height: r(85);
      width: 100%;
      margin: r(12) 0 r(7);
      font-weight: $semi-bold;
      border-radius: r(85);
      transition-property: background-color;

      &:hover {
        background: $bg-accents-1-h;
        .call-form__submit-face {
          gap: r(12);
        }
      }
      @include l {
        font-size: 16px;
        height: 85px;
        margin: 12px 0 7px;
        border-radius: 85px;
        &:hover {
          .call-form__submit-face {
            gap: 12px;
          }
        }
      }
    }

    &submit-face {
      display: flex;
      gap: r(18);
      transition-property: gap;
      @include l {
        gap: 18px;
      }
    }

    &submit {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      cursor: pointer;
    }

    &tos-wrapper {
      display: flex;
      align-items: center;
      gap: r(19);
      font-size: r(12);
      line-height: r(21);
      @include l {
        gap: 19px;
        font-size: 12px;
        line-height: 21px;
      }
    }

    &tos {
      margin: 0;
      height: r(17.65);
      width: r(18);

      @include l {
        height: 17.65px;
        width: 18px;
      }
    }

    &tos-link {
      color: $c-accents-1;

      &:hover {
        color: $c-accents-1-h;
        text-decoration: underline;
      }
    }

    &stub {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: r(20);
      flex-grow: 1;
      font-size: r(20);
      font-weight: $semi-bold;
      text-align: center;

      @include l {
        gap: 20px;
        font-size: 20px;
      }
    }

    &stub-phone {
      color: $c-accents-1;
    }
  }

  .i-arrow {
    transform: rotate(45deg);
    height: r(19.97);
    @include l {
      height: 19.97px;
    }
  }
  .i-cross {
    fill: $c-secondary;
    height: r(20.41);
    transition-property: fill;
    @include l {
      height: 20.41px;
    }
    &:hover {
      fill: $c-primary;
    }
  }
}
