$c-primary: #1c1c1c;
$c-secondary: #b5b5b5;
$c-tertiary: #a0a0a0;
$c-contrast: #fff;
$c-accents-1: #f38120;
$c-accents-1-h: #fd9c49;
$c-accents-2: #5ece7b;
$c-accents-2-h: #21e27c;

$bg-main-picture: #edf2f5;
$bg-primary: #fff;
$bg-accents-1: #f38120;
$bg-accents-1-h: #fd9c49;
$bg-accents-2: #12c868;
$bg-accents-2-h: #21e27c;

$bg-viber: #976fcc;
$bg-whatsapp: #12c868;
$bg-telegram: #05a0eb;

$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

$screen-l: 992px;
$screen-s: 460px;

@function getRelativeSize($absoluteSize) {
  $result: calc($absoluteSize / 1920) * 100vw;
  @return $result;
}

@function r($a) {
  @return getRelativeSize($a);
}

@mixin circle($w, $h: $w) {
  border-radius: 50%;
  height: $h;
  width: $w;
}

@mixin l {
  @media screen and (max-width: $screen-l) {
    @content;
  }
}
@mixin s {
  @media screen and (max-width: $screen-s) {
    @content;
  }
}
